.parenta{
  background: url(/src/assets/backgroundimage1.jpg) no-repeat center center fixed;
    display: flex;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    border: 0px;
    margin-bottom: 0px;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
  .top-container{
    width: 100%;
    margin-bottom: 1px;
  }
  
  .bell{
    float: right;
    background-color: rgb(157, 20, 20);
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
  }
  /* .logo{
    height: 160px;
    width: 220px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  } */
  .middle-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 30%;
    background: none;
    flex-direction: column;
  }
  .menu-button{
        background: rgb(157, 20, 20);
        border-radius: 100px;
        font-family: 'Montserrat', sans-serif;
        color: rgb(249, 189, 91);
        width: 160px;
        height: 50px;
        font-size: 20px;
        padding: 10px 10px 10px 10px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
  }
.menu-text{
    color: rgb(249, 189, 91);
    display: flex;
    justify-content: center;
    align-items: center;
}
.down-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.facebook-cont ,.instagram-cont{
    border-radius: 0%;
    color: white;
}
.facebook ,.instagram{
    background-color: rgb(157, 20, 20);
    width: 45px;
    height: 45px;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
}
/* 
.container {
  width: 100%;
  height: fit-content;
  background: rgb(32, 36, 26);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
/* } */ 

/* .content {
  width: 75%;
  height: 70px;
  margin-top: 10%;
  display: flex;
  border: 1px solid rgba(225, 208, 182, 1);
} */

.logo-container {
  width: 30%;
  border: 1px solid rgba(225, 208, 182, 1);
}

.navbar {
  width: 45%;
  border: 1px solid rgba(225, 208, 182, 1);
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  padding-right: 10%;
}

li {
  margin: 10%;
}

a {
  color: antiquewhite;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu-container {
  width: 80%;
  margin: 5%;
  background-color: antiquewhite;
  height: 100vh;
}

